/*GENERALES*/
.header{
    background-color: #393939;
    height: 500px;
    position: relative;
    
}
.caja{
    display: inline;
}

.itemUno{
    position:relative;
   
}

.itemDos{
    position:relative;
    
    top: -220px;
   
}

.logo {
    width: 500px;
    height: 500px;
    
}
.barraNavegacion{
    
    text-align: center;
    
}

.menu {
    display: inline;
    padding: 20px;
    list-style-type: none;
}
.itemMenu{
    text-decoration: none;
    color: #f5f5dc;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    
    
}
.portada{
    
    width: 2840px;
    margin-left: 100px;
}

footer{
    background-color: #393939;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.rrssLogo{
    width: 50px;
    padding: 40px;
}

.tituloFooter{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f5f5dc;
    font-size: 50px;
    margin-left: 100px;
    padding-right: 50px;
}


body{
    background-color: #f5f5dc;
}

/*INDEX*/

.tituloPrincipal {
    color:#393939;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    
}

.cuadricula {
    display: flex;
    width: 2840px;
    height: 1500px;
    /*margin: auto; */
    align-items: center;
    justify-content: center;
    /*flex-wrap: wrap;*/
    flex-flow: column wrap;
    
    
}

.imagenes{
    margin-top: 100px;
}
.mozaico{
    width: 600px;
    height: 600px;
    margin-left: 120px;
}
.tituloForm{
    color:#393939;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    
}

.form{
    text-align: justify;
    
    margin-left: 100px;
}

.form label{
    font-size: 50px;
    color:#393939;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.form input{
 font-size: 50px;
 margin-left: 100px;
 
 
}



/*CONTACTO*/

/*DONDE ESTAMOS*/

.map{
    display: flex;
    align-items: center;
}

.map iframe{
    /*justify-content: left;*/
    margin-left: 500px;
    margin-top: 20px;
}
.map div{
    /* justify-content: right; */
    margin-left: 100px;
    
}
.map p{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 50px;
}
/*PRODUCTOS*/
.prodTitle{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: -20px;
    margin-left: 50px;
}
.infoProd{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 50px;
    margin-bottom: 200px;
}

/*QUIENES SOMOS*/

.texto{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    text-align: center;
}